body {
    background-color: black;
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}

main {
    margin-top: 90px;
    font-size: 50px;
}

.rectangulo0 {
    width: 400px; 
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    top: 0px;
    background-color: white;
}

.rectangulo {
    position: relative;
    width: 800px; 
    height: 100px; 
    background: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.elipse1 {
    float: left;
    width: 300px;
    height: 75px;
    top: 313px;
    background:black;
    border-radius: 50%  ;
    margin-left: 300px;
    padding-top: 40px;
    color: black;
    border:5px #6fcf97 solid;
}
.elipse2 {
    float: right;
    width: 300px;
    height: 75px;
    margin-right: 300px;
    top: 313px;
    background: black;
    border-radius: 50%;
    padding-top: 40px;
    color: black;
    border:5px #6fcf97 solid;
}

.rectangulo3 {
    width: 600px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    color: black;
    background: #FFFFFF;
    font-size: 25px;
    text-align: center;
    float: center;
}
.triangulo1 {
    width: 0px;
    height: 0px;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    border-bottom: 100px solid #FFFFFF;
    float: left;
    transform: rotate(45deg);
    margin-left: 250px;
}
.triangulo2 {
    width: 0px;
    height: 0px;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    border-bottom: 100px solid #FFFFFF;
    float: right;
    transform: rotate(-45deg);
    margin-right: 250px;
}
.ocultar {
    display: none;
}
.lineaCentral {
    height: 20px;
    width: 25%;
    background-color:#6fcf97;
    margin-left: auto;
    margin-right: auto;
    
}
.boton {
   font-size: 50px;
   font-family: 'Orbitron', sans-serif;
   color:#6fcf97;
   background-color: black;
   border: 0px;
}

/*#6fcf97 */ 

